body {
    background-color: #9993D0;
    font-family: arial;
    color: #8f2a03;
}

/* Color Palette: 
Dark Purple: *#6F4C61 
Red: #8F2A03 
Orange: #F96827 
Light Purple: #9993D0 
Yellow: #FFD86F */ 