@font-face {
  font-family: 'Sunnydale'; /*Why didn't this work?*/
  src: url('/Fonts/college.ttf');
}

body {
  background-color: #ffde00;
  font-family: 'Sunnydale';
  font-size: 48px;
  color: #8A1A3E;
}