body {
  background-color: #8A1A3E;
}

.heading {
  font-family: 'Forum';
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.classmate {
  border: solid;
  border-width: 3px;
  width: 200px;
  height: 200px;
}

.photo {

}